@font-face {
    font-family: Raleway;
    src: url(../fuentes/Raleway-Regular.ttf);
    font-family: Raleway2;
    src: url(../fuentes/Raleway-Bold.ttf);
    font-family: Praise;
    src: url(../fuentes/Praise-Regular.ttf);
    font-family: DancingScript;
    src: url(../fuentes/DancingScript-VariableFont_wght.ttf)
}


*{                              /* Caracteristicas de diseño al HEAD*/
    margin: 0;
    padding: 0;
}

body{
background-image: url(https://fondosmil.com/fondo/58890.jpg);
background-size: cover;
}
/* ::::::::::::::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::::::::::::::: */

header{
    font-family: Raleway;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    padding: 1rem 0;
    background-color: rgba(255, 255, 255, 0.747);
}

header a{
    text-decoration: none;
    color: rgb(216, 27, 68);
}

nav{
    display: flex;
    flex-direction: row;
    background-color: rgba(216, 27, 68, 0.877);
    
    justify-content: center;

}

nav a{
    text-decoration: none;
    text-align: center;
    margin: 0 10px;
    color: white;
    font-family: Raleway;
    padding: 1rem 1rem;
    transition: all 0.5s ease;
}

nav a i{
    margin: 0 0.5rem;
}

.item:hover{
    color: white;
    border-bottom: 2px solid white;
    font-weight: bold;
    box-shadow: 0 0 10px rgb(180, 180, 180);
    transition: all 0.5s ease;

}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::: BODY ::::::::::::::::::::::::::::::::::::::::::::::::::: */

.titulo1 h1{
    width: 40%;                                         
    height: auto;
    color: black;                     
    font-size: 70px;
    margin: 30px auto;
    font-family: Redressed;
    background-color: rgba(255, 255, 255, 0.747);
    text-align: center;
    border-radius: 15px;

}

.tabla{
    margin: 0px 70px 20px;               /* margen fuera del cuadro - entre cuadro y pagina web */ 
    padding: 10px;                  /* margen entre el cuadro blanco y tabla */ 
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 7px #999999;
    
}

.tabla th{
    font-family: Raleway;
    text-align: center;
    padding: 15px;
    background-color: #e44e20;
    color: white;
    border-radius: 8px;
    font-size: 20px;
}

.tabla td{
    padding: 10px;
    font-family: Raleway;
    font-size: 16px;
    border-radius: 10px;
    
}

th, td {
    border-bottom: 3px solid #c0bdbd;
  }

.tabla td a{
    text-decoration: none;
}

.tabla td a:visited {
    color: black;
}

.tabla td a:hover{
    color: palevioletred; 
}

.tabla td a:active {
    color: red;
}


/* :::::::::::::::::::::::::::::::::::::::::::::::: Pie de Pagina :::::::::::::::::::::::::::::::::::::::::::::: */

.pie-pagina{
width: 100%;
background-image: linear-gradient(rgba(255, 255, 255, 0.548), rgba(0, 0, 0, 0.582)), url(../img/footerfrida.png);
background-repeat: no-repeat;
background-size: cover;

}

.pie-pagina .grupo-1{
width: 100%;
max-width: 1200px;
margin: auto;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 50px;
padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure p{
color: black;                     /* color del logo (letra) */
font-size: 40px;                   /* tamaño del logo (letra) */
text-decoration: none;             /* sin decoracion del logo (letra) */
font-weight: bold;
font-family: Raleway;
}

.pie-pagina .grupo-1 .box figure{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;

}

.pie-pagina .grupo-1 .box h2{
font-family: Raleway;
color: black;
margin-bottom: 35px;
font-size: 23px;

}

.pie-pagina .grupo-1 .box p{
color: black;
font-family: Raleway;
font-weight: 500;
margin-bottom: 12px;
}

.pie-pagina .grupo-1 .red-social a{
display: inline-block;
text-decoration: none;
width: 45px;
height: 45px;
line-height: 45px; 
margin-right: 10px;
background-color: rgba(255, 255, 255, 0.911);
text-align: center;
transition: all 300ms ease; 
}

.pie-pagina .grupo-1 .red-social a:hover{
color: palevioletred;
}

.pie-pagina .grupo-2{
background-color: rgba(255, 255, 255, 0.884);
padding: 15px 10px;
text-align: center;
color: black;
}

.pie-pagina .grupo-2 small{
font-size: 15px;
font-family: Raleway;
}

.pie-pagina .grupo-1 .formulario{
font-family: Raleway;
color: black;
margin-bottom: 35px;
font-size: 20px;
}